.hero {
  padding: 6rem 0 0 0;
  background-color: #f1ecc3;
}
.projects {
  background-color: #f1ecc3;
}
footer {
  background-color: #f1ecc3;
  padding-bottom: 1rem;
}
section {
  padding-top: 5rem;
}
